
<h1><%= place.name  %></h1>
<%  let fav = false%>
<% place.favorite.forEach((user)=>{%>
    <%if(user.toString() === userId.toString()){%>
      <%fav = true%>
    <%}%>
<%})%>
<%if(fav !== true){%>
<a href="/add/favorite/<%=place._id%>" data-value ="<%=place._id%>" id="love">LoveIt</a>
<%}else{%>
  <a href="#" data-value ="<%=place._id%>" id="love">LoveIt</a>
  <%}%>

<img src="<%= place.picture %>" height=200 width=300><br>
<p><%= place.address  %></p>
<%if(place.rol == "Shop" ){%>
<h2>Product list</h2>
<%}else{%>
  <h2>Dish list</h2>
  <%}%>
<form>
  <select id="source" disabled>
    <option value="es" selected>Spanish</option>
    <option value="fr">French</option>
    <option value="en">English</option>
    <option value="de">German</option>
    <option value="zh">Chinese</option>
    <option value="ja">Japanese</option>
    <option value="ru">Rusian</option>
    <option value="eo">Esperanto</option>
  </select>
  <select id="target">
    <option value="es">Spanish</option>
    <option value="fr">French</option>
    <option value="en">English</option>
    <option value="de">German</option>
    <option value="zh">Chinese</option>
    <option value="ja">Japanese</option>
    <option value="ru">Rusian</option>
    <option value="eo">Esperanto</option>
  </select>
  <button class="translate">Translate</button>
</form>
<ul>
  <% products.forEach((product) => { %>
    <% let clicked = false;%>
    <% for(var i = 0; i< product.refToUser.length; i++){%>
      <%if(product.refToUser[i].toString() === userId.toString()){%>
      <%  clicked = true;%>
      <%}%>
    <%}%>
    <%console.log(clicked)%>
    <%console.log(userId)%>
      <%if(clicked !== true){%>
    <li class="value" data-id="<%= product._id %>"value="<%= product.delete %>">
      <div class="translation">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
      </div>
      <button class="delete">Delete</button>
    </li>
    <%}%>
  <%  }) %>
</ul>
<%if(place.rol == "Shop" ){%>
<a href="<%= place._id %>/add/product/<%= place.name %>">Add product</a>
<%}else{%>
  <a href="<%= place._id %>/add/product/<%= place.name %>">Add dish</a>

  <%}%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/button-delete.js"></script>
<script type="text/javascript" src="/javascripts/detect-language.js"></script>
<script type="text/javascript" src="/javascripts/favorite-place.js"></script>
<script type="text/javascript" src="/javascripts/translations.js"></script>
