
<h1><%= place.name  %></h1>
<img src="<%= place.picture %>" height=200 width=300><br>
<p><%= place.address  %></p>
<h2>Product list</h2>
<ul>
  <% products.forEach((product) => { %>
    <% let clicked = false;%>
    <% for(var i = 0; i< product.refToUser.length; i++){%>
      <%if(product.refToUser[i].toString() === userId.toString()){%>
      <%  clicked = true;%>
      <%}%>
    <%}%>
    <%console.log(clicked)%>
    <%console.log(userId)%>
      <%if(clicked !== true){%>
    <li class="value" data-id="<%= product._id %>"value="<%= product.delete %>">
      <div class="translation">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
      </div>
      <button class="delete">Delete</button>
      <button class="translate">Translate</button>
    </li>
    <%}%>
  <%  }) %>
</ul>
<a href="<%= place._id %>/add/product/<%= place.name %>">Add product</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/button-delete.js"></script>
<script type="text/javascript" src="/javascripts/translations.js"></script>
