<a href="/home">Go back</a>
<h1><%= user.username %></h1>
<img src="<%= user.picture.pic_path %>" height=200 width=80%><br>
<p><%= user.picture.pic_name %></p>
<h2>Favorites</h2>
<% places.forEach(place =>{%>
  <% if(place.favorite.length > 0){%>
  <%for(var i = 0; i< place.favorite.length; i++){%>
    <%if(place.favorite[i].toString() === user._id.toString()){%>
        <h3><%= place.name%></h3>
    <%}%>
  <%}}%>
<%})%>
<a href="/edit">Edit profile</a><br>
<a href="/<%= user._id %>/delete/">Delete your account</a>
